.size {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #001315;
}

html, body {
    .size;
    font-family: "Microsoft YaHei", serif;
}


img {
    display: block;
    object-fit: contain;
}


@font-face {
    font-family: YouSheBiaoTiHei;
    src: url('../assets/font/YouSheBiaoTiHei.ttf');
}

.main-content {
    width: 202px;
    height: 206px;
    background: url("../assets/img/bg-s.png");
    background-size: 100% 100%;

    .top {
        font-size: 14px;
        font-family: YouSheBiaoTiHei,serif;
        color: #FFFFFF;
        padding: 10px 0 0 18px;
    }

    .content {
        height: 162px;
        margin-top: 10px;
    }
}
